*{
    box-sizing: border-box;
    color: #153a46d5;
}

header{
    display: flex;
    justify-content: space-between;
    background: #000000b6;
    height: 100px;
    width: 100%;    
}

body{
    margin: 0;
    background-color: #8080806e;
}

h1{
    background: #21bdd185;
    width: 80%;    
    font-size: 9vw;
    margin-right: 3%;
    text-align: center;
    align-self: center;
}

#profile{    
    flex: 0 1 0;
}

nav{
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    font-size: 4vw;
    background: #000000b6;
}

nav a{
    margin: 10px;
    color: #21bdd185;
    text-decoration: none;
    border-bottom: .5vw solid;
}

h2{
    font-style: bolder;
    text-align: center;
    font-size: 7vw;
    border-bottom: 3px solid #21bdd185;
    width: 100%;
    
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.card{
    flex: 1 1 40%;
    margin: 2%;
    border: 3px solid #21bdd185;
}

#work-1{
   flex: 1 1 100%;   
}

article{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
}

article p{
    font-size: 16pt;
    line-height: 1.4;
    text-align: justify;
    margin: 0 3%;
}

#contactlist{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
}

#contactlist li{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3.5vw;
}

#contactlist li a{
    text-decoration: none;
}