:root{
    --background: #21bdd185;
}

*{
    box-sizing: border-box;
    color: #153a46d5;
    font-family: serif;
}

body{
    margin: 0;
    background-color: #8080806e;
}

header{
    display: flex;
    justify-content: space-between;
    background: #000000b6;
    height: 100px;
    width: 100%;    
}

h1{
    background: var(--background);
    width: 80%;    
    font-size: 9vw;    
    margin-right: 3%;
    text-align: center;
    align-self: center;
}

#profile{    
    flex: 0 1 0;
}

/* Create navbar */
nav{
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    font-size: 4vw;
    background: #000000b6;
}

nav a{
    margin: 10px;
    color: var(--background);
    text-decoration: none;
    border-bottom: .5vw solid;
}

/* Hide banner for smaller screen sizes */
#banner{
    width: 100%;
    height: 200px;
    display: none;
}

article{
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
}

h2{
    font-style: bolder;
    text-align: center;
    font-size: 7vw;
    border-bottom: 3px solid var(--background);
    width: 100%;
}

article p{
    font-size: 16pt;
    line-height: 1.4;
    text-align: justify;
    margin: 0 3%;
}

.work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

/* Setup the default container for each work */
.card{
    flex: 1 1 40%;
    margin: 2%;
    border: 3px solid var(--background);
    position: relative;
    background: black;
}

.card figcaption{
    position: absolute;
    left:0px;
    bottom: 10px;
    background: var(--background);
    font-size: 14pt;
}

/* Work 1 needs to take up an entire row comepared to Work 2-5 */
#work-1{
   flex: 1 1 100%;   
}

#contactlist{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
}

#contactlist li{
    margin: 2% 0;
    font-size: 3.5vw;
    font-weight: 550;
}

#contactlist li a{
    text-decoration: none;
}

/* Change the layout for Tablet / Desktop users */
@media screen and (min-width: 800px){
    
    /* Provide room to position navbar to the right of header instead of under */
    header{
        width: 50%;    
    }
    
    
    h1{
        max-width: 370px;        
        font-size: 30pt;
    }
    
    /* Position navbar to right space of header */
    nav{
        justify-content: flex-end; 
        align-content: flex-end;
        height: 100px;
        width: 50%;
        font-size: 16pt;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    nav a{
        border-bottom: 5px solid;
    }

    /* Cause banner id to be visible */
    #banner{
        display: block;
    }

    article{
        margin-top: 20px;
    }

    h2{
        width: 20%;
        padding-right: 10px;  
        margin: 0px;      
        font-size: 36px;
        text-align: right;
        border-bottom: none;
        border-right: 3px solid var(--background);
    }

    article p{
        width: 74%;
    }

    .projects{
        display: flex; 
        flex-wrap: wrap;
        margin: 20px 0px;
    }        

    .work-container{
        width: 75%;
        align-content: flex-start;  
    }
    
    .card{
        max-width: 39.5%;
        height: 240px;
        margin: .5%;
    }

    /* Set work 1 to 80%  width with fixed height */
    #work-1{
        max-width: 80%;
        height: 340px;       
     }     
    
    footer section{
        display: flex;
    }

    #contactlist{
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }    
    
    #contactlist li{
        margin: 0 2%;
        font-size: 18px;
    }

    /* Darken images when not hovered */
    .card img{
        opacity: 0.5;
        transition: opacity 0.1s;
    }
    

    /* Remove darken effect when img hovered. */
    .card img:hover{
        opacity: 1;
    }
}
